<mat-sidenav-container>
  <mat-sidenav #drawer mode="push" fixedInViewport="true">
    <mat-nav-list>
      <div class="user-banner">
        <button mat-fab disabled>
          <mat-icon aria-label="User button" class="icon-lg">person</mat-icon>
        </button>
        <button mat-button (click)="auth.login()">
          Guest User
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </div>
      <mat-list-item [routerLink]="['/']">
        <mat-icon matListIcon>home</mat-icon>
        <h3 mat-line>Home</h3>
      </mat-list-item>
      <mat-list-item (click)="contactMe()">
        <mat-icon matListIcon>contact_mail</mat-icon>
        <h3 mat-line>Contact Me</h3>
      </mat-list-item>
      <mat-list-item [routerLink]="['/resume']">
        <mat-icon matListIcon>assignment</mat-icon>
        <h3 mat-line>My Résumé</h3>
      </mat-list-item>
      <h3 matSubheader>Products</h3>
      <mat-list-item [routerLink]="['/kiosk']">
        <mat-icon matListIcon>touch_app</mat-icon>
        <h3 mat-line>Kiosk Gallery</h3>
      </mat-list-item>
      <mat-list-item [routerLink]="['/media']">
        <mat-icon matListIcon>movie</mat-icon>
        <h3 mat-line>Omniflix</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="bg-transparent">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon color="primary">menu</mat-icon>
        </button>
        <div class="spacer">
          <a href="/">ryanerskine.dev</a>
        </div>
        <!-- Login/Sign Up Buttons -->
        <button mat-button *ngIf="!auth.isAuthenticated()" (click)="auth.signup()" class="btn-account">Create Account</button>
        <button mat-raised-button color="primary" *ngIf="!auth.isAuthenticated()" (click)="auth.login()" class="btn-login">Sign In</button>
        <button mat-icon-button (click)="auth.login()" class="btn-login-mobile">
          <mat-icon color="primary">exit_to_app</mat-icon>
        </button>
        <!-- Logged In Menu -->
        <button mat-icon-button [matMenuTriggerFor]="accountMenu" *ngIf="auth.isAuthenticated()">
          <mat-icon color="primary">person</mat-icon>
        </button>
        <mat-menu #accountMenu="matMenu">
          <button mat-menu-item class="text-center">Settings</button>
          <button mat-menu-item (click)="auth.logout()" class="text-center">Sign Out</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="text-center">
      <h1 class="mat-display-3 fw-bold m-0 pt-5">Full-stack C# and Angular developer</h1>
      <h2 class="mat-display-1 mb-5">I code things. Sometimes they work.</h2>
      <img class="avatar" src="/assets/img/avatar.svg">
    </div>
    <img class="technology" src="/assets/img/technology.svg">
    <div class="intro text-center">
      <h4 class="mat-display-1 fw-bold mt-3">
        Hi, I'm Ryan.
        <br class="mobile-break">
        Nice to meet you.
      </h4>
      <p class="mat-title">
        I began my development journey in high school nearly 10 years ago with simple PHP and JavaScript development.
        Since that time, I have shifted my focus to c# and Angular. Since graduating in 2016, I have worked on various
        projects ranging from simple REST APIs to complex distributed systems. More recently, I have found myself
        interested in Event Sourcing and Domain Driven Design. I am a naturally curious problem solver continually
        working to expand my development knowledge.
      </p>
    </div>
    <mat-card class="about">
      <div>
        <div class="text-center">
          <mat-icon color="primary">device_hub</mat-icon>
          <h4 class="mt-0">Back-End Development</h4>
        </div>
        
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
      </div>
      <div>
        <div class="text-center">
          <mat-icon color="primary">laptop_mac</mat-icon>
          <h4 class="mt-0">Front-End Development</h4>
        </div>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
      </div>
      <div>
        <div class="text-center">
          <mat-icon color="primary">developer_mode</mat-icon>
          <h4 class="mt-0">More Interests</h4>
        </div>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
        Simple <br>
      </div>
    </mat-card>
    
    <footer class="bg-primary">
      <div class="copyright">&copy; 2019 Copyright</div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
